<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Document-Comparison-Service</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ie.gmit.sw.UploadHandler</servlet-name>
    <servlet-class>ie.gmit.sw.UploadHandler</servlet-class>
    <init-param>
      <param-name>workers</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>logFile</param-name>
      <param-value>/home/bigrepo/workspace/Document-Comparison-Service/WebContent/logs/server.log</param-value>
    </init-param>
  </servlet>
</web-app>